body{
	margin: 0 auto;
	
	font-family: 'Georgia', serif;
	font-size: 18px;
	line-height: 26px;
	color: #143352;

}

/* main container */
#container{
	width: 995;
	padding: 12px;
	background-color: #79C3D2;
	border-top: 8px solid #6BC;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

#content{
	margin-top: 50px;
}

#header{
	background: #86c3f6;
	padding: 4px;
	color: #fff;
}

/* html5 - new */
#menu {
	position: absolute;
	width: 100%;
	z-index: 3;
	clear: both;
	display: block;
	background-color: #143352;
	height: 42px;
	border-top: 2px solid rgba(92, 153, 214, 0.5);
	border-bottom: 2px solid rgba(15, 38, 61, 0.5);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
	/* might not be needed - inspector settings */
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 0 #000;
	color: #fff;
}

#menu a:link{
	color: #fff;
	text-decoration: none;
}

#navmenu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
}
	#navmenu li {
		display: inline; 
	}
		#navmenu ul li .navblock{
			text-decoration:none;  
			margin: 4px;
			padding: 5px 20px 5px 20px; 
			color: #fff;
			border-right: 1px solid #fff;
		}
		.navblock a{
			color: #fff;
		}
		#navmenu ul li .navblock:hover {
			color: purple;
			background: #86c3ff;
			
		}
			
#sidebar{
	float: left;
	width: 190px;
	background: #eee;
	border-radius: 4px;
	padding 18px;
}

#main{
	float: left;
	margin-left: 18px;
	width: 550px;
}

#content{
	width: 960px;
	margin: 0 auto;
	padding: 24px 12px 24px 12px;
	border: 1px solid #303030;
	background: #D9EEF2;
	color: #143352;
}


/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	background:#fff;
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}




/* Forms */
label{
	display: block;
}
input[type=text]{
	height: 24px;
	font-size: 18px;
	color: #303030;
}
input[type=text], textarea{
	width: 450px;
}
