body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #39f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.container_12,
.container_16,
.container_24 {
  /*background-color: #fff;*/
  /*background-repeat: repeat-y;*/
  margin-bottom: 20px;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}